.stats-container {
  display: none;
  position: fixed;
  top: 0;
  left: 5px;
}

.stat-info {
  color: steelblue;
  margin: 0;
  padding: 10px;
  text-transform: uppercase;
}

@media(min-width: 85em) {
  .stats-container {
    display: block;
  }
}
