.trash {
  position: fixed;
  top: 5px;
  right: 10px;
  border: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #C31E1E;
  transition: all .3s;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}

.trash:hover {
  background-color: #C31E1E;
  color: #fff;
}

@media(min-width: 40em) {
  .trash {
    background-color: #fff;
    color: #C31E1E;
  }

  .trash:hover {
    background-color: #C31E1E;
    color: #fff;
  }

}
