.trash {
  position: fixed;
  top: 5px;
  right: 10px;
  border: none;
  text-transform: uppercase;
  color: #C31E1E;
  background-color: #fff;
  transition: all .3s;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}

.trash:hover {
  background-color: #C31E1E;
  color: #fff;
}
