.modal-login {
  position: fixed;
  width: 20%;
  position: fixed;
  left: 25%;
  margin-left: -10%;
  min-width: 300px;
  z-index: 2;
  padding: 10px 12px;
  overflow: hidden;
  background-color: #fff;
}

.title-modal-login {
  margin-top: 0;
  padding-bottom: 5px;
  color: #000;
  text-transform: uppercase;
}

.blanket {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  opacity: .85;
  z-index: 1;
}

@media(min-width: 40em) {
  .modal-login {
    left: 50%;
  }
}
