html {
  background-color: #fff;
  height: 100%;
}

body {
  font-family: monospace;
  background-color: rgba(0, 0, 0, .93);
  border: 3px solid #ccc;
  margin: 2px;
  padding: 5px;
  min-height: 97%;
}

small {
  font-size: 13px;
}

main {
  position: relative;
  padding-bottom: 50px;
}
