html {
  background: url('http://i.ytimg.com/vi/ax5eY_Y3A_c/maxresdefault.jpg') no-repeat;
  background-attachment: fixed;
  height: 100%;
}

body {
  font-family: monospace;
}

small {
  font-size: 13px;
}

main {
  position: relative;
  overflow-y: auto;
  max-width: 999px;
  border: 3px outset #ddd;
  background-color: rgba(0, 0, 0, .98);
}
