.user {
  color: #666;
}

.info {
  margin-left: 10px;
  word-break: break-work;
  display: block;
}

.sent-time {
  color: #aaa;
}

.message {
  padding: 5px;
  margin: 0 0 5px 0;
  color: #666;
}

.user-online-message,
.not-user-online-message,
.bot-message {
  position: relative;
}

.message .not-user-online-message,
.not-user-online-message:before {
  cursor: pointer;
}

.user-online-message:before {
  content: "✔";
  position: absolute;
  left: -35px;
  font-weight: bold;
  color: steelblue;
  transition: all .1s;
  top: -1px;
}

.not-user-online-message:before {
  content: "✔";
  position: absolute;
  left: -35px;
  font-weight: bold;
  color: rgb(231, 121, 67);
  transition: all .1s;
  top: -1px;
}

.bot-message:before {
  content: "//";
  position: absolute;
  left: -35px;
  font-weight: bold;
  color: #666;
  transition: all .1s;
}

.message:hover .user-online-message:before,
.message:hover .not-user-online-message:before {
  left: -30px;
}

.message:hover :not(.bot-message).not-user-online-message:before {
  content: "@";
}

.list-of-messages-container {
  margin-bottom: 50px;
}

.mentioned {
  background-color: rgba(255, 215, 0, 0.22);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

[blink-message] {
  transition: all .5s;
}

@media(min-width: 30em) {
  .info {
    display: inline;
  }
}
