.user {
  color: #fff;
}

.info {
  margin-left: 10px;
  word-break: break-work;
  display: block;
}

.sent-time {
  color: #ccc;
}

.message {
  padding: 5px;
  margin: 0 0 5px 0;
  color: #fff;
}

.user-online-message,
.not-user-online-message,
.bot-message {
  position: relative;
}


.user-online-message {
  border-bottom: 1px solid #fff;
}

.not-user-online-message {
  border-bottom: 1px solid burlywood;
}

.bot-message {
  border-bottom: 1px dashed #fff;
}

.message .not-user-online-message,
.not-user-online-message:before {
  cursor: pointer;
}

.user-online-message:before,
.not-user-online-message:before,
.bot-message:before {
  content: "C:\\Users\\nimbus >";
  position: absolute;
  left: -150px;
  color: #fff;
  transition: all .1s;
}

.mentioned {
  background-color: rgb(82, 79, 63);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

[blink-message] {
  transition: all .5s;
}

@media(min-width: 30em) {
  .info {
    display: inline;
  }
}
