<div class="list-of-messages-container">
  <div *ngFor="#m of chatList.messages">
    <div class="message" [class.mentioned]="m.mentioned">
      <span class="room">C:\ ></span>

      <span class="sent-time">
        <small [innerText]="m.sentAt | date: 'hhmmss H'"></small>
      </span>

      <span class="user" [class.user-online-message]="m.userOnline"
      [class.not-user-online-message]="!m.userOnline"
      [class.bot-message]="m.bot"
      [innerText]="m.user"
      [class.bot]="m.bot"
      (click)="mentionClickHandler(m)"></span>:

      <p class="info" [innerText]="m.message"></p>
    </div>
  </div>

  <div>
    <p class="message user-is-typing" *ngIf="tMsg.typing">
      <span class="room">C:\ ></span>

      <span class="user not-user-online-message bot-message bot"
        [innerText]="tMsg.user"></span>

      <span class="info" [innerText]="tMsg.message"></span>
    </p>
  </div>
</div>
