.form-container {
  position: relative;
  width: 100%;
}

form {
  position: relative;
  font-size: 14px;
}

.left {
  float: left;
}

form input {
  border: none;
  outline: none;
  width: 88%;
  color: #fff;
  padding: 5px;
  background-color: transparent;
  font-size: 14px;
  margin-bottom: 50px;
  font-family: monospace;
  width: 75%;
}

form .room {
  color: #fff;
  font-size: 15px;
  margin-top: 5px;
  margin-left: 5px;
  width: 50px;
}

form input:focus {
  outline:none;
}
