.form-container {
  position: relative;
  width: 100%;
}

form {
  position: relative;
  max-width: 999px;
}

form input {
  border: none;
  outline: none;
  width: 98%;
  color: #fff;
  padding: 5px;
  background-color: transparent;
  font-size: 17px;
  margin-bottom: 50px;
}

form:before {
  content: "C:\\Users\\nimbus >";
  position: absolute;
  left: -145px;
  top: 5px;
  color: #fff;
}

form input:focus {
  outline:none;
}
